<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <descriptor>
        <key>myMail</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>passwordMyMail</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>targetMail</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>CCMail</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>CCMail1</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>CCMail2</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>BCCMail</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>BCCMail1</key>
        <values></values>
    </descriptor>
    <descriptor>
        <key>BCCMail2</key>
        <values></values>
    </descriptor>
<descriptor>
        <key>mail.smtp.host</key>
        <values>smtp.gmail.com</values>
    </descriptor>
    <descriptor>
        <key>mail.smtp.port</key>
        <values>465</values>
    </descriptor>
    <descriptor>
        <key>mail.smtp.auth</key>
        <values>true</values>
    </descriptor>
    <descriptor>
        <key>mail.smtp.starttls.enable</key>
        <values>true</values>
    </descriptor>
    <descriptor>
        <key>emailHeader</key>
        <values>Отчет о присутствии</values>
    </descriptor>
    <descriptor>
        <key>emailBody</key>
        <values>&lt;font color="gray"&gt;&lt;p&gt;Доброе утро, Лариса!&lt;/p&gt;
&lt;font color="gray"&gt; @GetDate
@EmployeesList
&lt;font color="gray"&gt;&lt;p&gt;К работе удаленно приступили.&lt;p&gt;</values>
    </descriptor>
    <descriptor>
        <key>emailBottom</key>
        <values>&lt;font color="gray"&gt;
&lt;p&gt;К работе удаленно приступили.&lt;/p&gt;&lt;/font&gt;&lt;/font&gt;
        </values>
    </descriptor>
</settings>
